Source: python-fcgiev
Section: python
Priority: optional
Maintainer: Rasmus Andersson <rasmus@notion.se>
Build-Depends: debhelper (>= 5.0), libfcgi-dev (>= 2.4), python-all-dev (>= 2.4), python-central (>= 0.5)
XS-Python-Version: all
Standards-Version: 3.8.0

Package: python-fcgiev
Architecture: any
Depends: libc6 (>= 2.3), python (>= 2.4)
Recommends: 
Suggests: 
XB-Python-Version: ${python:Versions}
Homepage: 
Description: fcgiev
